BASE_URL="https://www.stifirestop.com/"
API_URL="https://pat-dev-api.stifirestop.com/"
ASSETS_URL="https://staging-assets.stifirestop.com/"
WORDPRESS_URL="https://www-news.stifirestop.com/"
SLACK_WEBHOOK_URL="https://hooks.slack.com/services/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"
SENTRY_AUTH_TOKEN=3a36bfcf86cc4f2499a0e13ca69981754876e9083b48407496849d2aab253da3
GOOGLE_API_KEY=AIzaSyC8w9Ak3Q2W6aMVWSkXankttCHZNLtKZH4
RECAPTCHA_KEY=6Ld-CAsUAAAAAAr9hwjXawXgwj2oJxfyXKrQpZcy
SITE_NAME="localhost"
SUCURI_API_KEY=
SUCURI_API_SECRET=
